/* default css */
* {
    padding: 0 auto;
    margin: 0 auto;
}

body {
    background-color: rgba(232, 238, 233, 0.356);
    color: black;
}

/* .container {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.356);
} */


.container {
    max-width: 960px; /* Set maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding */
}

.content {
    background-color: #f0f0f0; /* Set background color */
    padding: 20px; /* Add padding */
    border-radius: 5px; /* Add border radius for rounded corners */
}

/* TableStyles.css */

/* Styles for the table */
table {
    width: 100%; /* Make table fill its container */
    border-collapse: collapse; /* Collapse table borders */
}

/* Styles for table header */
thead {
    background-color: #f2f2f2; /* Set background color */
}

/* Styles for table header cells */
thead td {
    padding: 10px; /* Add padding */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Add bottom border */
}

/* Styles for table body */
tbody {
    background-color: #fff; /* Set background color */
}

/* Styles for table body cells */
tbody td {
    padding: 10px; /* Add padding */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd; /* Add bottom border */
}

/* Styles for alternate row background color */
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Set background color for even rows */
}


/* modal */
/* CSS untuk modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* warna latar belakang dengan opacity */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* CSS untuk konten modal */
  .modal-content {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* bayangan drop */
    max-width: 80%; /* Lebar maksimum konten modal */
  }
  
  /* CSS untuk tombol close di dalam modal */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  

  /* CSS untuk menata elemen-elemen di dalam form */
.form-container {
    display: flex;
    flex-direction: column; /* Mengatur arah tata letak menjadi vertikal */
  }
  
  /* CSS untuk elemen-elemen dalam form */
  .form-container label {
    margin-left: 10px;
    color: red;
    margin-bottom: 10px; /* Jarak antara setiap label */
    margin-top: 20px; /* Jarak antara setiap label */
  }
  
  .form-container input {
    width: 100px;
    margin-right: 10px;
    /* margin-left: 10px; */
    margin-bottom: 10px; /* Jarak antara setiap input */
  }
  
  .form-container button {
    margin-top: 10px; /* Jarak antara input terakhir dan tombol */
  }
  